<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bitter&family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="CSS/KSAN.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KSAN</title>
</head>
<body>

<header class="header">

	<div class="container">

		<div class="header__inner">

			<div class="header_logo">KSAN</div>
			
			<nav class="nav">
				<a class="nav_glavnay" href="#">Главная</a>
				<a class="nav_student"href="#">Студентам</a>
				<a class="nav_work"href="#">Работодателям</a>
				<a class="nav_grupa"href="#">Группы</a>
				<a class="nav_chat"href="Private messages/Messages.html">Чат</a>
				<a class="nav_reg"href="#">Регистрация</a>
				<a class="nav_vhod"href="#">Вход</a>

			</nav>
		</div>
	</div>
</header>
	<div class="Fon2">
		<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Серый прямоугольник.jpg">
	</div>
	<div class="opisanie">Работа,рейтинги,<br>проекты</div>
	<div class="opisanie2">Поиск занятия, с помощью которого вы найдёте работу по душе</div>
	<a class="Dolgnost" href="#">Должность или компания</a>
	<a class="Gorod" href="#">Город,страна</a>
	<a class="Poisc" href="#">Искать</a>
	<div class="Rectangle3"></div>
	<div class="Vector"></div>
	<div class="Rectangle2"></div>
	<div class="Lupa"></div>
	<div class="Location"></div>
	<div class="intro"><div class="container"></div></div>
<section class="section">
	<div class="container">
		<div class="section_header">
			<div class="Help">Помогаем найти работу:</div>

			<div class="sibur">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/sibur.jpg">
			</div>
			<div class="gasprom">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/gasprom.jpg">
			</div>
			<div class="trasneft">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/trasneft.jpg">
			</div>
			<div class="lukoyl">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/lukoyl.jpg">
			</div>
			<div class="rosneft1">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/rosneft1.jpg">
			</div>
			<div class="rosneft2">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/rosneft2.jpg">
			</div>
		</div>
		<div class="Socset">
			<div class="Fon">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Серый прямоугольник.jpg">
			</div>	
			<div class="Soc">Социальная сеть для тебя и твоих партнёров</div>
			<div class="soc_op1">Здесь ты общаешься <br> со своими работодателями</div>
			<div class="soc_op2">Задания от заказчика <br> и рейтинговая шкала</div>
			<div class="soc_op3">Портфолио <br> и ваши проекты</div>
			<div class="soc_op12">Сайт позволяет напрямую общаться с <br>работодателями, которые<br> заинтересованы в вашем проекте<br> или им понравилось ваше портфолио</div>
			<div class="soc_op22">На нашем сайте вы сможете найти<br> тестовое задание себе по душе<br> и посмотреть, как вас оценили<br> другие участники этого задания</div>
			<div class="soc_op32">На вашей странице вы публикуете<br> свои проекты, а пользователи<br> и заказчики, заходя на ваш профиль,<br> могут просматривать работы и оценивать их</div>
			<div class="Socset1">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Socset1.jpeg">
			</div>
			<div class="Socset2">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Socset2.jpeg">
			</div>
			<div class="Socset3">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Socset3.jpeg">
			</div>
		</div>
		<div class="Rabota">
			<a class="Rabot" href="#">
				Работа по категориям
			</a>
			<a class="Rabota_IT" href="#">
				Информационные<br>технологии
			</a>
			<a class="Rabota_Neft" href="#">
				Нефть и газ
			</a>
			<a class="Rabota_Fin" href="#">
				Финансы
			</a>
			<a class="Rabota_Mened" href="#">
			Менеджмент
			</a>
			<a class="Rabota_Stroy" href="#">
				Строительство,<br>недвижимость
			</a>
			<a class="Rabota_Prod" href="#">
			Продажи
			</a>
			<a class="Rabota_Sluga" href="#">
			Служба поддержки
			</a>
			<a class="Rabota_Big" href="#">
			Больше категорий
			</a>
			<div class="Benz">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Бензаколонка.png">
			</div>
			<div class="Diagrama">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Диаграмма.png">
			</div>
			<div class="Zdanie">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Здание.jpeg">
			</div>
			<div class="Comp">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Комп.png">
			</div>
			<div class="Ludi">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Люди.png">
			</div>
			<div class="Money">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Монета.png">
			</div>
			<div class="Strelka">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Линия.jpeg">
			</div>
			<div class="Chuvak">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Чувак с наушником.png">
			</div>
			<div class="Sera1">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Серый квадрат.jpeg">
			</div>
			<div class="Sera2">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Серый квадрат.jpeg">
			</div>
			<div class="Sera3">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Серый квадрат.jpeg">
			</div>
			<div class="Sera4">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Серый квадрат.jpeg">
			</div>
			<div class="Sera5">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Серый квадрат.jpeg">
			</div>
			<div class="Sera6">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Серый квадрат.jpeg">
			</div>
			<div class="Sera7">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Серый квадрат.jpeg">
			</div>
			<div class="Sera8">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Белый квадрат.jpeg">
			</div>
		</div>
		<div class="Vacans" >
			<div class="New_Vacans"></div>
			<div class="Vacans_IT">Информационные технологии</div>
			<div class="Vacans_Разработка">Разработчик и администратор баз данных</div>
			<div class="Vacans_Т">Тюмень, Россия</div>
			<div class="Vacans_Сибур">Сибур,3 дня назад</div>
			<div class="Vacans_Финансы">Финансы</div>
			<div class="Vacans_Менеджер">Менеджер по управлению финансами</div>
			<div class="Vacans_Тю">Тюмень, Россия</div>
			<div class="Vacans_Транснефть">Транснефть,неделю назад</div>
			<div class="Vacans_Продажи">Продажи</div>
			<div class="Vacans_Специалист">Специалист по прадажам</div>
			<div class="Vacans_Тюм">Тюмень, Россия</div>
			<div class="Vacans_Роснефть">Роснефть,5 дней назад</div>
			<div class="Vacans_Информ">Информационные технологии</div>
			<div class="Vacans_Джава">Java-разработчик</div>
			<div class="Vacans_Тюме">Тюмень, Россия</div>
			<div class="Vacans_Креатив">Creative,3 дня назад</div>
			<div class="Vacans_Дизайн">Дизайн</div>
			<div class="Vacans_Интерьер">Дизайнер интерьера в профессиональную студию</div>
			<div class="Vacans_Тюмен">Тюмень, Россия</div>
			<div class="Vacans_Стайл">Style  living,1 месяц назад</div>
			<div class="Vacans_служба">Служба поддержки</div>
			<div class="Vacans_Оператор">Оператор колл центра</div>
			<div class="Vacans_Тюмень">Тюмень, Россия</div>
			<div class="Vacans_Таргет">Target,1 день назад</div>
			<div class="Prim">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/СП.jpeg">
			</div>
			<div class="Vacans_Sibur">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/siburi.png">
			</div>
			<div class="Vacans_transneft">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/transnefti.png">
			</div>
			<div class="Vacans_rosneft1">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/rosnefti1.png">
			</div>
			<div class="Vacans_rosneft2">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/rosnefti2.png">
			</div>
			<div class="Vacans_creative">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Kvadrat.jpg">
			</div>
			<div class="Vacans_Style">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Stytle.png">
			</div>
			<div class="Vacans_Target">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Target.png">
			</div>
			<div class="Vacans_Point1">
			</div>
			<div class="Vacans_Point2">
			</div>
			<div class="Vacans_Point3">
			</div>
			<div class="Vacans_Point4">
			</div>
			<div class="Vacans_Point5">
			</div>
			<div class="Vacans_Point6">
			</div>
			<div class="Vacans_Sibur">
			</div>
			<div class="Locali1">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Locali.png">
			</div>
			<div class="Locali2">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Locali.png">
			</div>
			<div class="Locali3">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Locali.png">
			</div>
			<div class="Locali4">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Locali.png">
			</div>
			<div class="Locali5">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Locali.png">
			</div>
			<div class="Locali6">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Locali.png">
			</div>
			<div class="BK1">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/БК.png">
			</div>
			<div class="BK2">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/БК.png">
			</div>
			<div class="BK3">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/БК.png">
			</div>
			<div class="BK4">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/БК.png">
			</div>
			<div class="BK5">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/БК.png">
			</div>
			<div class="BK6">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/БК.png">
			</div>
			<div class="Vsevakansii">Все вакансии</div>
			<div class="FO">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/FO.png">
			</div>
		</div>
		<div class="Navigator">
			<div class="Navigad">Навигация</div>
			<div class="Главнаястраница">Главная страница</div>
			<div class="Входработодатели">Вход для работодателей</div>
			<div class="Входстуденты">Вход для студентов</div>
			<div class="Группы">Группы</div>
			<div class="Чаты">Чат</div>
			<div class="Вашгород">Ваш город:Тюмень</div>
			<div class="Информация">Информация</div>
			<div class="Поддержка">Поддержка:<br>support@ksan.ru</div>
			<div class="Документы">Документы</div>
			<a class="Политика" href="Politika/Politika.html">Политика конфиденциальности</a>
			<div class="Пользовательское">Пользовательское соглашение</div>
			<div class="Политики">Политика в отношении файлов cookie</div>
			<div class="CCK">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/CCK.png">
			</div>
			<div class="Vectori1">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Vectori.png">
			</div>
			<div class="Vectori2">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Vectori.png">
			</div>
			<div class="Vectori3">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Vectori.png">
			</div>
			<div class="VK">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/VK.png">
			</div>
			<div class="Twiter">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Twitre.png">
			</div>
			<div class="FaceBuk">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/FaceBuk.png">
			</div>
			<div class="Insta">
				<img src="C:/Users/Unknow/Desktop/KSAN/CSS/Instagram.png">
			</div>
		</div>
	</div>
</section>
</body>
</html>
	